In [4]:
x = int(input("Enter a number: "))
y = int(input("Enter another number: "))
print(x + y)

110

In [3]:
list1 = [1, 2, 3, 3, 3, "number", "number", True]
print(list1)
print(set(list1))
print(list(set(list1)))

[1, 2, 3, 3, 3, 'number', 'number', True]
{1, 2, 3, 'number'}
[1, 2, 3, 'number']

In [19]:
import pandas as pd

In [23]:
today_date = "2026-02-12"
date=pd.to_datetime(today_date)
date

Timestamp('2026-02-12 00:00:00')