In [1]:
x = 3
y = 4
print(x + y)

7

In [2]:
print(type(y))  # Output: <class 'int'>

<class 'int'>

In [6]:
a = 6 #integer
b = 3.14 #float 
Abhay = "Hello Handsome" #string
greet = "Good Morning"
sibani = "Hello Sunu"

#print(greet, Abhay)
print(greet, sibani)

Good Morning Hello Sunu

In [7]:
Abhay == "Sunu"

False

In [10]:
sibani == "Hello Sunu"

True

In [12]:
list1 = [1, 2, 3, 4, 5]
print(list1[0])

1

In [13]:
list2 = ["apple", "banana", "cherry", "coconut", "grape"]
list2[3]

'coconut'

In [ ]:
#list is also a type of data in Python.
'''Definition of a List: It is a collection of items which can be of different data types. It is ordered, 
changeable, and allows duplicate values. 
Lists are defined using square brackets [] and items are separated by commas.'''

'It is a collection of items which can be of different data types. It is ordered, \nchangeable, and allows duplicate values. \nLists are defined using square brackets [] and items are separated by commas.'

In [35]:
import numpy as np
all_types = [1, 3.14, "Hello", True, [1, 2, 3], {"name": "Alice", "age": 30}, (1, 2), {1, 2, 3}]

#print(type(all_types[-1]))
#all_types[5]["name"]

def tell_list_item_type(lst):
    for item in lst:
        print(f"{item} is of type {type(item)}")

tell_list_item_type(all_types)

1 is of type <class 'int'>
3.14 is of type <class 'float'>
Hello is of type <class 'str'>
True is of type <class 'bool'>
[1, 2, 3] is of type <class 'list'>
{'name': 'Alice', 'age': 30} is of type <class 'dict'>
(1, 2) is of type <class 'tuple'>
{1, 2, 3} is of type <class 'set'>

In [36]:
list3 = [1, 2, 2, 24, 5, True, 'g']
new_set = set(list3)
#print(new_set)

In [37]:
#A set is a collection which is unordered, unchangeable*, and unindexed. In Python, sets are written with curly brackets.

In [38]:
tell_list_item_type(list3)

1 is of type <class 'int'>
2 is of type <class 'int'>
2 is of type <class 'int'>
24 is of type <class 'int'>
5 is of type <class 'int'>
True is of type <class 'bool'>
g is of type <class 'str'>